<div class="book" data-title="{{title}}" data-author="{{author}}" data-length="{{length}}" data-id="{{id}}">
  <div class="book-contents">
    {{!-- <div class="book-image-container">
      <img src="{{photoURL}}" alt="{{description}}">
    </div> --}}
    <div class="book-info-container">
      <span class="book-title">{{title}}</span> <span class="book-author">by {{author}}</span> 
      {{!-- <span class="book-length">{{length}} pgs</span> --}}
    </div>
  </div>
</div>